<div>
  <br>
  <div class="aboutbox">
    <p>Have you ever wished you could get your produce straight from the source - harvested by hand, just for you?</p>
    <br>
    <p>Farm Connect bridges the gap between local farms and people who want their food fresh, naturally, and locally.</p>
    <br>
    <p>Would you like to eat vegetables fresh-picked by hand only miles from your home? Sign up for a free account today and support your local growers through Farm Connect.</p>
    <br>
    <p>Are you a grower looking for ways to diversify and expand your business? Sign up for a grower account and support your community with Farm Connect.</p>
  </div>
</div>
