<div id="wrap">
  <div class="form_wrap">
    <h1>Add a product to sell!</h1>
   
    <!-- pass in the variable if our form is valid or invalid -->
    <form name="addProductForm" ng-submit="addProduct(addProductForm.$valid)" novalidate> <!-- novalidate prevents HTML5 validation since we will be validating ourselves -->

      <div class="form-group" ng-class="{ 'has-error' : addProductForm.farmName.$invalid && !addProductForm.farmName.$pristine }">
        <label>Farm Name</label>
        <input type="text" name="farmName" class="form-control" ng-model="product.farmName" required>
        <p ng-show="addProductForm.farmName.$invalid && !addProductForm.farmName.$pristine" class="error">Farm name is required</p>
      </div>

      <div class="form-group">
        <label>Farm Location</label>
        <textarea class="farmLocation" ng-model="product.farmLocation"></textarea> 
      </div>
      
      <div class="form-group">
        <label>Product name</label>
        <input type="text" name="productName" class="form-control" ng-model="product.name">
      </div>
          
      <div class="form-group">
        <label>Price of Product (per pound)</label>
        <input type="number" class="form-control" ng-model="product.price"> 
      </div>

      <div class="form-group">
        <label>Stock (in pounds)</label>
        <input type="number" class="form-control" ng-model="product.stock"> 
      </div>

      <div><input type="submit" value="Submit"></div>
 
    </form>
  </div>
</div>


