<div class="modal-header">
  <h3 class="modal-title">Please enter your payment information</h3>
</div>
<div class="modal-body">
  <form stripe-form="handleCheckout" class="checkoutForm" ng-model="checkoutForm" ng-submit="handleCheckout(checkoutForm)">
    Card number <input ng-model="number" payments-format="card" payments-validate="card" />
    Expiration (MM/YY) <input ng-model="expiry" payments-format="expiry" payments-validate="expiry" />
    CVC <input ng-model="cvc" payments-format="cvc" payments-validate="cvc" />
  </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="submit">Submit</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
