<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div ng-controller="AuthCtrl">
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="#/products" active-link="active" activate-parent="true">Products</a></li>
        <li><a href="#/sell" active-link="active" activate-parent="true">Sell Products</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#/about" active-link="active" activate-parent="true">About</a></li>
        <li class="signout" ng-show="loggedIn == 'true'" ng-click="signout()">Signout</li>
        <li class="cart"><img ng-src="assets/img/shopping-cart.png" /></li>
        <li class="cart-summary"><p>{{ cartSummary.numOfItems }} {{ cartSummary.itemsText }}</p>
          <div>${{ cartSummary.total }}</div>
        </li>
      </ul>
    </div>
  </div>
</div>