<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="#/products" active-link="active" activate-parent="true">Products</a></li>
        <li><a href="#/" active-link="active" activate-parent="true">Sell Products</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#/about" active-link="active" activate-parent="true">About</a></li>
        <li class="signout">Signout</li>
      </ul>
    </div>
  </div>
</div>