<div class="page-container" ng-controller="ProductsCtrl">
  <div ui-view></div>
  <!-- ALL VIEW STATES LOADED IN HERE -->
  <!-- Search bar -->
  <div id=wrap>
    <h1>Search</h1>
    <form>
      <input type="text" ng-model="search" placeholder="I am looking for...">
    </form>
    <!-- Search results go here -->
    <div>
      <ul class="searchResults"> 
      </ul>
    </div>
    <!-- {{if (1===1){search} else {search};}} -->
    <!-- Available produce goes here -->
    <p>Products:</p>
    <ul class="itemList " ng-repeat="item in items | filter:search">
      <li>
        <span>{{ item }}</span>
      </li>
  </div>
</div>
