<div id='signin'>
  <h1>Welcome</h1>
  <div class="container">
    <form name="signinForm" ng-submit='signin()' novalidate>
      Email
      <input name="email" type='email' ng-model='user.email' required>
      <!-- <div ng-show="signinForm.email.$invalid && !signinForm.email.$pristine">Your email is required.</div> -->
      Password
      <input name="password" type="password" ng-model='user.password' required>
      <!-- <div ng-show="signinForm.password.$invalid && !signinForm.password.$pristine">Your password is required.</div> -->
      <div class="submit">
        <input type="submit" value="Signin">
      </div>
    </form>
  </div>
  <div class="account">
    <a href="#/signup">No account? Create one now!</a>
  </div>
</div>