<div id='signup'>
  <h1>Create an Account</h1>
  <form name="signupForm" ng-submit='signup()'>
    <input name="email" type='email' ng-model='user.email' required novalidate>
    <div ng-show="signupForm.email.$invalid && !signupForm.email.$pristine">Your email is required.</div>
    <input name="password" type="password" ng-model='user.password' required novalidate>
    <div ng-show="signupForm.password.$invalid && !signupForm.password.$pristine">Your password is required.</div>
    <input type="submit" value="Signup">
  </form>
  <div>
  <a href="#/signin">Already have an account? Signin here!</a>
  </div>
</div>