@import url(https://fonts.googleapis.com/css?family=Muli);
*{
  margin:0;
 font-family: 'Muli', sans-serif;
}

body{
  background-image: url("../img/grass-field.jpg");
  background-size: cover;
}

h1 { 
  margin-bottom: 20px; 
  font-size:1.6em;
  text-align: center;
  padding-top: 20px;
}

input[type="submit"]{
  background-color: #53ad0e;
  width: 270px;
  font-size: 16px;
  color: #F7F7EB;
}

#wrap{
  color: #F7F7EB;
  text-align: left;
}

form input, .farmLocation {
  padding:15px;
  margin-bottom:10px;
  border-radius:7px;
  border: none;
  width: 80%;
}

form {
  margin: 0 auto;  
  width: 300px;
  padding: 30px;
}
.error {
  height:30px; 
  color:#B52E31;
}
input.ng-valid.ng-touched{
  border: 2px solid green;
}
input.ng-invalid.ng-touched {
  border: 2px solid #B52E31;
 }
