@import url(https://fonts.googleapis.com/css?family=Muli);
*{
  margin:0;
 font-family: 'Muli', sans-serif;
}

body {
  background: url("../img/grass-field.jpg") no-repeat 50% 50% fixed; 
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  overflow-y: hidden;
  padding-bottom: 200px;
}

h1 { 
  margin-bottom: 10px; 
  font-size:1.6em;
  text-align: center;
  padding-top: 20px;
  color: #F7F7EB;
}

input[type="submit"]{
  background-color: #53ad0e;
  width: 270px;
  font-size: 16px;
  color: #F7F7EB;
}

#wrap{
  color: #F7F7EB;
  text-align: left;
}

form input, .farmLocation {
  padding:10px;
  border-radius:7px;
  border: none;
  width: 320px;
  margin-bottom: 10px;
  color: #000;
}

form {
  margin: 0 auto;  
  width: 300px;
}
.error {
  height:30px; 
  color:#B52E31;
}
input.ng-valid.ng-touched{
  border: 2px solid green;
}
input.ng-invalid.ng-touched {
  border: 2px solid #B52E31;
}

.navbar {
  margin: 0 auto;
  width: 60%;
  height: 40px;
  background-color: #eee;
  border-radius:7px;
}

.navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar li {
  float: left;
}

.navbar li a, .signout {
  width: 120px;
  color: #53ad0e;
  padding: 10px;
  display: block;
  text-align: center;
  text-decoration: none;
}

.navbar li:hover, .signout:hover {
  background-color: #ddd;
}

.navbar li.selected {
  background-color: #ccc;
}

.product {
  clear: both;
  margin-bottom: 5px;
  padding: 5px;
}

.product img {
  width: 150px;
  height: 150px;
  float: left;
  margin-right: 20px;
}

.scrollbox {
  background-color: #fff;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  overflow-y: scroll;
  border-radius: 6px;
  padding: 20px;
}

.search {
  text-align: center;
  color: #F7F7EB;
  font-size: 16px;
  margin-bottom: 10px;
}
.search input {
  color: #000;
}

.farm-name {
  font-weight: 700;
  font-size: 16px;
}
.category, .location {
  color: #818485;
}
.item-details {
  font-size: 13px;
}
.item-price {
  color: #53ad0e;
  font-weight: bold;
}
.addToCart {
  color: #53ad0e;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  background-color: #DCDFE0;
}
#signin, .account, #signup {
  color: #F7F7EB;
}
.account {
  text-align: center;
  margin: 0 0 12px;
}
.account a {
  text-decoration: none;
  color: #F7F7EB;
}
.submit {
  margin-left: 40px;
}
md-radio-button ._md-off {
  background-color: #F7F7EB;
}
md-radio-button {
  float: left;
  margin: 3px 18px 5px 4px;
}
.farmInfo {
  float: left;
}
.cart img {
  height: 25px;
  width: 25px;
}
.cart, .cart-summary {
  float: right;
  font-size: 12px;
}
.quantity input {
  border-radius: 5px;
  width: 40px;
  margin-left: 5px;
}
.alert {
  width: 400px;
}
.cart-table h1 {
  color: #F7F7EB;
}
.cart-scrollbox {
  background-color: #F7F7EB;
  overflow-y: scroll;
  border-radius: 7px;
}

.item-row {
  background-color: #f9f9f9;
}
.total {
  font-weight: bold;
}


