@import url(https://fonts.googleapis.com/css?family=Muli);
*{
  margin:0;
 font-family: 'Muli', sans-serif;
}

body{
  background-image: url("../img/grass-field.jpg");
  background-size: cover;
}

h1 { 
  margin-bottom: 20px; 
  font-size:1.6em;
  text-align: center;
  padding-top: 20px;
}

input[type="submit"]{
  background-color: #53ad0e;
  width: 270px;
  font-size: 16px;
  color: #F7F7EB;
}

#wrap{
  color: #F7F7EB;
  text-align: left;
}

form input, .farmLocation {
  padding:15px;
  margin-bottom:10px;
  border-radius:7px;
  border: none;
  width: 80%;
}

form {
  margin: 0 auto;  
  width: 300px;
  padding: 30px;
}
.error {
  height:30px; 
  color:#B52E31;
}
input.ng-valid.ng-touched{
  border: 2px solid green;
}
input.ng-invalid.ng-touched {
  border: 2px solid #B52E31;
}

.navbar {
  margin-left: 50px;
  width: 70%;
  height: 40px;
  background-color: #eee;
  border-radius:7px;
}

.navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar li {
  float: left;
}

.navbar li a, .signout {
  width: 100px;
  height: 20px;
  line-height: 20px;
  padding: 10px;
  display: block;
  text-align: center;
  text-decoration: none;
}

.navbar li a:hover, .signout:hover {
  background-color: #ddd;
}

.navbar li a.selected {
  background-color: #ccc;
}

.container {
  clear: both;
  margin-top: 10px;
}
